#arena{
 background-image: url("images/budokai.jpg");
  border:2px solid black;
  background-size: cover;

}
.baredevie{
  display:flex;
}
.bareDeVie1{
 text-align: center;
  border:1px solid black;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #33ff33;
  margin-top: 4%;
}
.bareDeVie2{
  text-align: center;
  border:1px solid black;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #33ff33;
  margin-top: 4%;
}
#superheros{
  display: flex;
  margin-top: 30%;
}
#hero1{


  padding-left: 10%;
  padding-right: 10%;
}
#hero2{


  padding-left: 10%;
  padding-right: 10%;
}
